@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&display=swap");

/* html {
  font-size: 62.5%;
} */

/* .throwback{
    height: 100vh;
} */

.head {
  display: flex;
  justify-content: center;
}
.head p {
  margin: 30px 0px;
  text-align: center;
  /* width: 235px;
  height: 44px; */
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #1a589b; 
  /* flex: none;
  order: 0;
  flex-grow: 0; */
}
.throwback-wrapper{
    display: flex;
    justify-content: space-around;
    padding: 0px 65px;
    background-color: #ffffff;
    /* height: 100vh; */
}
.content {
  /* width: 800px;
  height: 840px;

  margin-left: 600px;
  margin-top: 70px; */
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 175% */
  /* text-align: center; */
  color: #0b1641;
}
/* .allimg {
  display: flex;
  flex-direction: row;
  margin-bottom: 5rem;
  gap: 3rem;
} */

.img1 {
  align-self: flex-end;
}
.img1size {
  width: 86rem;
}

.right-wrapper{
    display: flex;
    flex-direction: column;
}

/* .img2 {
  width: 44rem;
  height: 36.5rem;
  margin-top: 12rem;
  margin-left: 4rem;
}*/

.img2size {
  width: 365px;
  float: right;
}
/*.img3{
        position: absolute;
        width: 25rem;
        height: 25rem;
        align-content: center;
        top: 13.6rem;
}*/

/*
    
@media(max-width:1350px){
.head{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
    width: 18rem;
    height: 3rem;
    left: 55rem;
    top: 4.8rem;
    align-content: center;
}
.img1{
     position: absolute;
     width: 45rem;
     height: 45rem;
     left: 7rem;
     top: 36rem;
 }
.img2{
         position: absolute;
            width: 33rem;
            height: 33rem;
            left: 70rem;
            top: 32.0rem;
}
.content{     
    position: absolute;
    width: 70rem;
    height: 11rem;
    left: 55rem;
    top: 22rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40.0;
    font-size: 1.7rem;
    line-height: 2.8rem;
  
    text-align: center;
    color: #0B1641;
}
}
     

    @media(max-width:1250px){
        .head{

            display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
  
    width: 15rem;
    height: 3rem;
    left: 45rem;
    top: 4.8rem;
    align-content: center;
        }
        .img1{
            position: absolute;
            width: 45rem;
            height: 45rem;
            left: 5rem;
            top: 38rem;
        }
        .img2{
            position: absolute;
            width: 30rem;
            height: 30rem;
            left: 60rem;
            top: 35rem;
        }
       .content{
            
    position: absolute;
    width: 70rem;
    height: 8rem;
    left: 45rem;
    top: 20rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40.0;
    font-size: 1.7rem;
    line-height: 2.8rem;
 
    text-align: center;
    
    color: #0B1641;
       }
     
    }



    @media(max-width:1150px){
        .head{

            display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
  
    width: 13rem;
    height: 3rem;
    left: 40rem;
    top: 4.8rem;
    align-content: center;
        }
        .img1{
            position: absolute;
            width: 44rem;
            height: 44rem;
            left: 5rem;
            top: 38rem;
        }
        .img2{
            position: absolute;
            width: 29rem;
            height: 29rem;
            left: 64rem;
            top: 35rem;
        }
       .content{
            
    position: absolute;
    width: 65rem;
    height: 8rem;
    left: 42rem;
    top: 20rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40.0;
    font-size: 1.5rem;
    line-height: 2.8rem;
 
    
    text-align: center;
    
    color: #0B1641;
       }
     
    }

    @media(max-width:1050px){
        .head{

    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
    width: 12rem;
    height: 3rem;
    left: 37rem;
    top: 4.8rem;
    align-content: center;
        }
        .img1{
            position: absolute;
            width: 44rem;
            height: 44rem;
            left: 5rem;
            top: 38rem;
        }
        .img2{
            position: absolute;
            width: 29rem;
            height: 29rem;
            left: 62rem;
            top: 35rem;
        }
    .content{ 
    position: absolute;
    width: 65rem;
    height: 8rem;
    left: 30rem;
    top: 20rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40.0;
    font-size: 1.5rem;   
    line-height: 2.8rem;
   
    text-align: center;
    color: #0B1641;
       }
    }


    @media(max-width:1000px){
    .head{
    display: flex;
    position: absolute;
    flex-direction: row;
    align-items: flex-start;
    padding: 0rem;
    gap: 1rem;
    width: 11.4rem;
    height: 3rem;
    left: 34rem;
    top: 4.8rem;
    align-content: center;
        }
        .img1{
            position: absolute;
            width: 44rem;
            height: 44rem;
            left: 3rem;
            top: 38rem;  
        }
        .img2{
            position: absolute;
            width: 29rem;
            height: 29rem;
            left: 52rem;
            top: 35rem;
        }
       .content{
            
    position: absolute;
    width: 64rem;
    height: 8rem;
    left: 29rem;
    top: 20rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 40.0;
    font-size: 1.5rem;
    line-height: 2.8rem;
    
    text-align: center;
    
    color: #0B1641;
       }
     
    }


   @media screen and (min-width:950px ){
        .img2{
            display: block;
            
        }
        .img3{
            display: none;
            
        }
    }


    @media (max-width:950px){
      

    .img1{ 
      position: absolute;
      width: 37rem;
      height: 27rem;
      left: 20rem;
      top: 46rem;
        }

    .img3{
          display: block;  
          top:10rem;
          left:20rem
        }
        .img2{
            display: none;   
        }



   .content{
    width: 35rem;
    height: 7rem;
    left: 30rem;
    top: 37rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    color: #0B1641;
        }


    } */
