@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Smooth transitions for themeable properties */
html, body, .throwback, .throwback-wrapper, .throwback_head p, .throwback_content, .throwback_img1, .throwback_img2, .right-wrapper {
  transition: background-color 360ms ease, color 360ms ease, border-color 300ms ease, box-shadow 360ms ease, transform 260ms ease;
}

/* -------------------------
   Light mode (original)
   ------------------------- */

.head {
  display: flex;
  justify-content: center;
}
.throwback{
  margin: 7% 0%;
}
.throwback_head p {
  margin: 30px 0px;
  text-align: center;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
  color: #1a589b;
}

.throwback-wrapper {
  display: flex;
  justify-content: space-around;
  padding: 0px 65px;
}

.throwback_img1 {
  align-self: flex-end;
}
.throwback_img1size {
  /* width: 1600px; */
  flex:2;
}

.right-wrapper {
  display: flex;
  flex-direction: column;
  flex:1;
}

.throwback_content {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #0b1641;
  text-align: center;
  /* flex:1; */
}
.throwback_img2{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 5vh; */
}

/* Responsive rules (light) */
@media (max-width: 650px) {

  .throwback-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .throwback_img1 {
    order: 2;
    flex:2;
  }
  .right-wrapper {
    order: 1;
    flex:1;
  } 
  .throwback_content {
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    padding-top: 10px;
    padding-bottom:10px;
    order:2;
    margin-bottom: 15px;
  }
  .throwback_img2size {
    order: 1;
    float: none;
    width: 250px;
    margin:0 auto;
  }
}

@media screen and (max-width:725px) and (min-width:650px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 375px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 150px;
    float: right;
  }
}

@media screen and (max-width:780px) and (min-width:725px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 400px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 170px;
    float: right;
  }
}

@media screen and (max-width:880px) and (min-width:780px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 425px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 190px;
    float: right;
  }
}

@media screen and (max-width:980px) and (min-width:880px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 450px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 225px;
    float: right;
  }
}

@media screen and (max-width:1100px) and (min-width:980px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 550px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 250px;
    float: right;
  }
}

@media screen and (max-width:1300px) and (min-width:1100px) {
  .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
  }
  
  .throwback_img1{
    align-self: flex-end;
  }
  .throwback_img1size {
    width: 650px;
  }
  
  .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .throwback_content {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #0b1641;
    text-align: center;
  }
  
  .throwback_img2size {
    width: 300px;
    float: right;
  }
}

/* -------------------------
   Dark mode overrides
   (applies when <html class="dark-mode"> is present)
   ------------------------- */

.dark-mode body {
  background: #0f1724;
  color: #e6eef8;
}

/* container spacing stays same */
.dark-mode .throwback {
  margin: 7% 0%;
}

/* heading color adjusted for dark */
.dark-mode .throwback_head p {
  color: #5aa0ff;
}

/* wrapper background unaffected, keep layout */
.dark-mode .throwback-wrapper {
  /* no structural change */
  padding: 0px 65px;
}

/* left image block */
.dark-mode .throwback_img1 {
  align-self: flex-end;
}

/* right column */
.dark-mode .right-wrapper {
  display: flex;
  flex-direction: column;
  flex:1;
}

/* content text color in dark */
.dark-mode .throwback_content {
  color: #cbd8e8; /* softer text */
  text-align: center;
}

/* small image container */
.dark-mode .throwback_img2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* responsive dark tweaks */
@media (max-width: 650px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
  }
  .dark-mode .throwback_img1 {
    order: 2;
    flex:2;
  }
  .dark-mode .right-wrapper {
    order: 1;
    flex:1;
  }
  .dark-mode .throwback_content {
    font-size: 15px;
    line-height: 25px;
    text-align: start;
    padding-top: 10px;
    padding-bottom:10px;
    order:2;
    margin-bottom: 15px;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    order: 1;
    float: none;
    width: 250px;
    margin:0 auto;
  }
}

@media screen and (max-width:725px) and (min-width:650px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 375px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 150px;
    float: right;
  }
}

@media screen and (max-width:780px) and (min-width:725px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 400px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 12px;
    line-height: 22px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 170px;
    float: right;
  }
}

@media screen and (max-width:880px) and (min-width:780px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 30px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 425px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 190px;
    float: right;
  }
}

@media screen and (max-width:980px) and (min-width:880px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 450px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 13px;
    line-height: 24px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 225px;
    float: right;
  }
}

@media screen and (max-width:1100px) and (min-width:980px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 40px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 550px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 250px;
    float: right;
  }
}

@media screen and (max-width:1300px) and (min-width:1100px) {
  .dark-mode .throwback-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 0px 50px;
  }
  .dark-mode .throwback_img1 {
    align-self: flex-end;
  }
  .dark-mode .throwback_img1size {
    width: 650px;
  }
  .dark-mode .right-wrapper {
    display: flex;
    flex-direction: column;
  }
  .dark-mode .throwback_content {
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #cbd8e8;
  }
  .dark-mode .throwback_img2size {
    width: 300px;
    float: right;
  }
}
