.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}

.carousel-content-wrapper {
  width: 100%;
  height: 100%;
}

.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none; /* hide scrollbar in IE and Edge */
  scrollbar-width: none; /* hide scrollbar in Firefox */
}

/* hide scrollbar in webkit browser */
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}

.carousel-content > * {
  width: 100%;
  flex-shrink: 0;
  flex-grow: 1;
}

.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}

.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 57%;
  transform: translateY(-50%);
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 9.29145px 18.5829px rgba(109, 66, 11, 0.25);
  border: 1px solid #ddd;
  color: #dc8210;
  font-weight: bold;
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

@media (hover: none) and (pointer: coarse) {
  .left-arrow,
  .right-arrow {
    display: none;
  }
}


