.galleryWrapper {
  padding: 5% 10%;
}

.galleryItem img {
  width: 100%;
  height: 35vh;
  object-fit: cover;
  border-radius: 1rem;
}

.galleryContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.filterItem ul {
  /* height:20vh; */
  display: flex;
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr)); */
  margin-bottom: 20px;
  /* gap: 20px; */
}

.filterItem ul button {
  margin-right: 1rem;
  /* min-width: 5rem; */
  padding: 0.3rem 0.8rem;
  border: none;
  background: white;
  color: rgb(65, 98, 168);
  border-radius: 14px;
  font-family: "Poppins";
  border: 2px solid rgb(28, 36, 53);
  font-weight: bold;
  cursor: pointer;
}

/* .filterItem ul button:hover {
  background: rgb(65, 98, 168);
  border: 2px solid rgb(65, 98, 168);
  color: azure;
} */
.filterItem .selected {
  background: rgb(65, 98, 168);
  border: 2px solid rgb(65, 98, 168);
  color: azure;
}
.galleryItem img {
  border-radius: 15px;
}
.position-title {
  display: flex;
  justify-content: center;
  font-family: "Poppins";
  font-size: 1.2rem;
}
/* BUTTON */
