.bg {
  background-image: url('/public/assets/bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* Full-page flex layout */
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;

  /* Smooth switching w.r.t dark mode */
  transition: background-image 380ms ease-in-out, background-color 380ms ease-in-out;
}

/* Dark mode */
.dark-mode .bg {
  background-image: url('/public/assets/bgDark.png');
}